.wrapper
    .banner
        .banner__top
            .banner__logo
                img(src="./img/logo.svg" alt="favbet")
        .banner__title
            .banner__title-top Bonus od #[span 100 FS]
            .banner__title-bottom za uplatu od 5 €
        .banner__roulette
            picture
                source(media="(max-width: 1280px) and (min-height: 1240px)" srcset="img/roulette-large.png")
                source(media="(max-width: 1440px)" srcset="img/roulette-tab.png")
                img(src="./img/roulette-desk.png" alt="favbet")
